body {
  background-image: url(http://allday2.com/uploads/posts/2015-12/1449153049_floor_4.jpg);
  background-position: center;
  font-family: 'Roboto', sans-serif;
}

.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 400px;
  background-color: #fff;
  border: 2px solid #cdcdcd;
  border-radius: 25px;
  padding: 20px;
  transform: translate(-50%, -50%);
}

.login-form h3 {
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  color: #707981;
  font-weight: 500;
}

.login-form input {
  display: block;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 10px;
  background: #E9EFF6;
  line-height: 40px;
  border-width: 0;
  border-radius: 20px;
  box-sizing: border-box;
  outline: none;
  color: #f69a73;
}

.login-form button {
    margin-top: 30px;
    background: #f69a73;
    border-bottom: 4px solid #d87d56;
    color: white;
    font-size: 14px;
    display: block;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 10px; 
    line-height: 40px;
    border-width: 0;
    border-radius: 20px; 
    outline: none;
}

.login-form label {
    display: block;
    padding-left: 15px; 
    color: #707981;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
}

.login-form fieldset  {
  border-width: 0;
}

.form-links {
  display: flex;
  width: 100%;
  font-size: 13px;
  justify-content: space-around;
}

.form-links a {
  color: #707981;
}
.form-links a:hover {
  color: #f69a73;
}

.error {
    display: block;
    text-align: center;
    color: red;
    text-transform: uppercase;
    font-size: 13px;
    margin-top: 20px;
}